<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="page" th:replace="~{layout/main-layout :: layout(~{::content}, ~{::title})}">
        <title>Users - Repetere</title>
    </th:block>
</head>
<body>
<div th:fragment="content" id="content">
    <h3>Users</h3>
    <br>
    <div th:fragment="users-table-div">
        <div th:if="${successMessage}">
            <p><code th:text="${successMessage}"></code></p>
        </div>
        <table  id="users-table">
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>N-LANG</th>
                <th>ROLE</th>
                <th>ACTIVE</th>
                <th>FORCE-CH</th>
            </thead>
            <tbody>
            <th:block th:each="user : ${users}">
                <tr th:replace="~{admin/fragments/user-row :: userRow(${user})}"></tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <br>
    <section>
        <button style="margin-top: 1rem" popovertarget="dialog-modal" id="openDialog">Crear nuevo usuario</button>

        <div th:if="${successMessage}">
            <p><mark th:text="${successMessage}"></mark></p>
        </div>

        <dialog popover="" id="dialog-modal">
            <h3>Añadir usuario</h3>
            <hr>
            <form th:action="@{/admin/users}" method="post"
                  hx-target="#users-table"
                  hx-swap="outerHTML">
                <div th:if="${errorMessage}">
                    <p><mark th:text="${errorMessage}"></mark></p>
                </div>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" size="28" placeholder="Nombre" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="user@email.com" required>

                <label for="role">Rol:</label>
                <select id="role" name="role">
                    <option value="ADMIN">Admin</option>
                    <option value="USER">User</option>
                </select>

                <label for="nativeLanguage">Idioma Nativo:</label>
                <select id="nativeLanguage" name="nativeLanguage">
                    <option value="ES">Español</option>
                    <option value="EN">Inglés</option>
                </select>

                <br>
                <button type="submit">Guardar</button>
            </form>
        </dialog>
    </section>
</div>
</body>
</html>