
<aside th:fragment="deckCard(deck)"
       th:id="'deck-card-' + ${deck.id}"
       th:hx-get="${deck.status.name() == 'PROCESSING'} ? @{/decks/{id}/status(id=${deck.id})} : null"
       th:hx-trigger="${deck.status.name() == 'PROCESSING'} ? 'every 2s' : null"
       th:hx-target="'#deck-card-' + ${deck.id}"
       hx-swap="outerHTML"
>
    <p th:text="${deck.name}"></p>
    <p th:text="${deck.targetLanguageCode}"></p>
    <p th:text="${deck.status}"></p>
    <p th:text="${deck.cardCount}"></p>
    <p th:text="${deck.createdAt}"></p>
</aside>