<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(content, title)"
      color-mode="user">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:replace="${title}">Repetere</title>
    <link rel="stylesheet" th:href="@{/css/mvp.css}" href="../../static/css/mvp.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-boost="true" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">

<header>
    <nav>
        <h2>Repetere</h2>
        <ul>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}">Usuarios</a></li>
            <li><a th:href="@{/profile}">Perfil</a></li>
            <li><a th:href="@{/decks}">Mis Mazos</a></li>
            <li><a th:href="@{/decks/new}">Nuevo Mazo</a></li>
            <li><a th:href="@{/stats}">Estadísticas</a></li>
            <li>
                <form th:action="@{/logout}" method="post" hx-boost="false" style="display: inline; margin: 0;">
                    <button type="submit" style="all: unset; cursor: pointer; color: inherit; font: inherit;">
                        Cerrar Sesión
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main id="content" th:insert="${content}">
    <!-- El contenido específico de cada página se inyecta acá -->
</main>

<footer>
    <hr>
    <p><small>Repetere &copy; - Mi app de tarjetitas</small></p>
</footer>
<script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
         // 1. lee el token y el nombre de los meta tags
        const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const headerName = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        // 2. inyecta el token con su nombre
        evt.detail.headers[headerName] = token;
    });

    document.body.addEventListener('closeModal', () => {
        document.getElementById('dialog-modal').hidePopover();
    });

</script>
</body>
</html>